{{ api_resonse }}

<div class="buttons">
<div class="pull-right">
<a id="button-confirm" class="button btn btn-primary" onclick="$('#ccavenuepay_standard_checkout').submit();">
<span>{{ button_confirm }}</span>
</a>
</div>
</div>


