<div id="partiallyWidgetContainer"></div>
<script>
document.partiallyWidgetConfig = {{widget_config}};
(function() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://partial.ly/js/partially-widget.js';
    script.async = true;
    document.head.appendChild(script);
})();
</script>
