<form action="{{ action }}" method="post" id="payment" target="_top">
<div class="buttons">
   <div class="pull-right">
     <input type="submit" value="{{ button_confirm }}" id="telr_submit" class="btn btn-primary" />
   </div>
 </div>
</form>
<iframe style="width:1px;height:1px;visibility:hidden;display:none;" src="https://secure.telrcdn.com/preload.html"></iframe>
