<div id="search" class="input-group">
	<div id="search-inner">
		<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
		<span class="input-group-btn">
			<button type="button" class="button-search"><i class="fa fa-search"></i></button>
		</span>
	</div>
</div>